.d1{
	background-color: #00BFFF;
	border: solid red 2px;
	
}
.d2{
	width: 110px;
	height: 110px;
	border-width: 2px;
	border-style: solid;
	border-color: red;
	border-right-color: white;
}
p{
	float: right;
}
