.d1{
	background-color: #00BFFF;
	border: solid red 2px;
	align-self: right;
}
.d2{
	margin-left: 940px;
	width: 30%;
	height: 100px;
	border-width: 2px;
	border-style: solid;
	border-color: red;
	border-right-color: white;
}
p{

}

