table{
	border: 3px solid grey;
	height: 100%;
}
td{
	
	text-align: center;
}

.first_div{
	width: 700px;
	height: 600px;
	margin: 0px auto;

	border: solid red 2px;
}
.second_div{
	width: 500px;
	height: 500px;
	margin: 50px auto;

	border: solid red 2px;
	background-position: top left, center;
	background-repeat: no-repeat;

	box-shadow:10px 15px 16px 0px red;

}
.odd{
	background-color: #00BFFF;
}
.even{
	background-color: grey;
}