table{
	border: 20px solid black; 
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	border-spacing: 0px;

}
td{
	height:80px;
	width: 80px;
	background-color: black;
	border: 10px solid; 
	border-color: #E0E0E0 grey grey #E0E0E0;
	color: white;
}
.terminalCell{
	border-color: grey grey grey grey;
}

input{
	text-align: right;
	height: 100%;
	width: 100%;
	font-size: 1.5em;
}
body{
	font-size: 2.5em;
}

div{
	margin-left: 29%;
	margin-right:29%;
	text-align: center;
	background-color: #E0E0E0;
	
}
