h1{
	counter-reset: secondCounter thirdCounter;
	counter-increment: firstCounter;
}

h1:before {

	content: counter(firstCounter) "." counter(secondCounter) "." counter(thirdCounter) " ";
}

h2{
	counter-reset: thirdCounter;
	counter-increment: secondCounter;
}
h2:before{
	
	content: counter(firstCounter) "." counter(secondCounter) "." counter(thirdCounter) " ";

}

h3{
	counter-increment: thirdCounter;
}
h3:before{
	content: counter(firstCounter) "." counter(secondCounter) "." counter(thirdCounter) " ";
}
